<!doctype html>
<html lang="en-US">	
	<title>
	TEST
	</title>

	<link href="css/style.css" rel="stylesheet" type="text/css" media="screen">
<head >
	<meta http-equiv="content-type" content="text/html" charset="gb2312" >
	<meta http-equiv="content-language" content="zh-CN" >	
	<meta name="keywords" content="可视化" >
</head>
	
<body >	
	<div id="header">
	<h1>WELCOME</h1>
	</div>
	
	<div id="bodyer" >
		<div id="body_left">
			<ul>
			<li><a href="" >home</a></li>
			<li><a href="#goto" >monitor</a></li>
			<li><a href="" >option</a></li>
			</ul>
		</div>
	
		<div id="body_center">
			<toper>
			<form>
			<fieldset style="width: 200px">
				<legend> 请选择地点</legend>
				地点 <select name="地点">
				<option value="选择" selected>selet </option>
				<option value="one">one</option>
				<option value="two">two</option>
				<option value="three">three</option>
				<option value="four">four</option>
				<input type="button" value="确定">	
				</select>
				</fieldset>
			</form>
			</toper>
			<section style="width: 100%">
				<br><hr><br>
				<article id="section_left">
					<h3>FIRST</h3>
					<img src="image/背景1.jpg" alt="" width="350px" height="350px" />
					</article>
				<article id="section_right">
					<h3>SECOND</h3>
					<img src="image/背景1.jpg" alt="" width="350px" height="350px"/>
					</article>
			</section>
			<br><hr>
			</div>	
		
	<div id="body_right">
	<ul>
	<li>数据网站的数据</li>
	<li><a href="http://www.enpemf.com/test-one/2018-08-01---00%3A00%3A00.txt"></a></li>
	</ul>	
		</div>
		
	</div>
	
	<div id="footer">
	<p>2018</p>
	</div>	
	
</body>
	
</html>
